In [1]:
%%capture
%cd ..

# Data

## 1. Robotic vacuum cleaners

In [2]:
from src.processor import RoboticVacuumCleaners

rvc = RoboticVacuumCleaners(load_preprocd_data=True, load_prep_data=True, load_raw_data=True)

Loading "data\amazon_reviews\vacuum_cleaners\robotic\raw_data\raw_data.pkl" ... Done.
Loading "data\amazon_reviews\vacuum_cleaners\robotic\prep_data\prep_data.pkl" ... Done.
Loading "data\amazon_reviews\vacuum_cleaners\robotic\preprocd_data\preprocd_data.pkl" ... Done.

### 1.1 Raw data

In [3]:
selected_columns = ['ReviewText']

In [4]:
# rvr.load_raw_data(verbose=True)
rvc.raw_data[selected_columns]

                                               ReviewText
0       got this 'used acceptable' from amazon - Face ...
1       I have really mixed feelngs about the roombas ...
2       We purchased this less than a year ago. It's n...
3       I purchased the iRobot for my wife so she woul...
4       This is a significant upgrade on previous vers...
...                                                   ...
185964  This is a lifesaver in a home with pets! It ru...
185965  We were very excited to have this product but ...
185966                                    Easy to install
185967  This was gifted to me by my husband. I friggin...
185968  Its an ok vacuum. Suction is decent for hard f...

[143217 rows x 1 columns]

### 1.2 Preparatory data

In [5]:
# rvc.load_prep_data(verbose=True)
rvc.prep_data[selected_columns]

                                               ReviewText
0       I hate when you cannot talk to a person! I nee...
1       Excited to have received my vacuum today. It w...
2       Great vacuum for the price it works better on ...
3       Honestly I wanted to give a try to robot. This...
4       I was hesitant to buy this robot because I am ...
...                                                   ...
143212  We have ours set to run every night. Every mor...
143213  This is an excellent robot vacuum that comes f...
143214  It does a good job cleaning the laminate floor...
143215  So easy to set up and use. I have 3 black labs...
143216  This little vacuum is great. Very easy to acce...

[143217 rows x 1 columns]

### 1.3 Preprocessed data

In [6]:
selected_columns += ['review_text', 'sentiment']
preprocd_data = rvc.preprocd_data.copy()
preprocd_data['sentiment'] = rvc.preprocd_data['sentiment_on_vs_score']
preprocd_data[selected_columns]

,ReviewText,review_text,sentiment
0,I hate when you cannot talk to a person! I nee...,hate talk person need tech support email really,negative
1,Excited to have received my vacuum today. It w...,excited receive vacuum today well package manu...,positive
2,Great vacuum for the price it works better on ...,great vacuum price work well hardwood floor gr...,positive
3,Honestly I wanted to give a try to robot. This...,honestly want give try robot thing really work...,positive
4,I was hesitant to buy this robot because I am ...,hesitant buy robot simplicity robot look compl...,positive
...,...,...,...
143212,We have ours set to run every night. Every mor...,set run night morning wake find stick various ...,negative
143213,This is an excellent robot vacuum that comes f...,excellent robot vacuum come fully feature wet ...,positive
143214,It does a good job cleaning the laminate floor...,good job cleaning laminate floor carpet guess ...,positive
143215,So easy to set up and use. I have 3 black labs...,easy set use black lab pick dog hair love,positive
143216,This little vacuum is great. Very easy to acce...,little vacuum great easy access large expect e...,positive

## 2. Traditional vacuum cleaners

In [7]:
from src.processor import TraditionalVacuumCleaners

tvc = TraditionalVacuumCleaners(load_preprocd_data=True, load_prep_data=True, load_raw_data=True)

Loading "data\amazon_reviews\vacuum_cleaners\traditional\raw_data\raw_data.pkl" ... Done.
Loading "data\amazon_reviews\vacuum_cleaners\traditional\prep_data\prep_data.pkl" ... Done.
Loading "data\amazon_reviews\vacuum_cleaners\traditional\preprocd_data\preprocd_data.pkl" ... Done.

### 2.1 Raw data

In [8]:
selected_columns = ['ReviewText']

In [9]:
# tvr.load_raw_data(verbose=True)
tvc.raw_data[selected_columns]

                                               ReviewText
0       Amazing vacuum but after 9 months the battery ...
1       This cordless stick vac was great until it was...
2       The battery only last 20-25 minute. Very disap...
3       I usually use a basic broom or my bigger vacuu...
4       It is the answer to areas where there might be...
...                                                   ...
321284              Great product. Easy to setup and use.
321285                                          Love this
321286  I've been needing a new vacuum and really liki...
321287  This is a great little vacuum for the price. I...
321288  I've been in the market for a cordless stick v...

[230479 rows x 1 columns]

### 2.2 Preparatory data

In [10]:
# tvc.load_prep_data(verbose=True)
tvc.prep_data[selected_columns]

                                               ReviewText
0       I use this for a quick sweep of the rec room e...
1       I have a dog and 4 cats and this was super hel...
2       I do not know what 25Kpa power is relative to ...
3       I have only been using this 2 wks so far since...
4       Love there are 2 batteries! Charge one use one...
...                                                   ...
230474  It ’ s got all the attachments and an extra he...
230475  I liked how lightweight. Good suction, easy to...
230476  Great vacuum that works as well if not better ...
230477  Nice and light, good suction, however the batt...
230478  I bought this as a furniture vacuum because we...

[230479 rows x 1 columns]

### 2.3 Preprocessed data

In [11]:
selected_columns += ['review_text', 'sentiment']
preprocd_data = tvc.preprocd_data.copy()
preprocd_data['sentiment'] = tvc.preprocd_data['sentiment_on_vs_score']
preprocd_data[selected_columns]

,ReviewText,review_text,sentiment
0,I use this for a quick sweep of the rec room e...,use quick sweep rec room week light easy use l...,positive
1,I have a dog and 4 cats and this was super hel...,dog cat super helpful compare regular high qua...,positive
2,I do not know what 25Kpa power is relative to ...,know relative vacuum small dry electric vacuum...,negative
3,I have only been using this 2 wks so far since...,use far move complaint continue meet expectati...,positive
4,Love there are 2 batteries! Charge one use one...,love battery charge use always ready use last ...,positive
...,...,...,...
230473,My partner and I live in a 1000 + sqft 2bd 2br...,partner live apartment dog figure convenient h...,positive
230474,It ’ s got all the attachments and an extra he...,get attachment extra hepa filter term suction ...,positive
230475,"I liked how lightweight. Good suction, easy to...",like lightweight good suction easy take apart ...,positive
230476,Great vacuum that works as well if not better ...,great vacuum work well well dyson pay lot diff...,positive
230478,I bought this as a furniture vacuum because we...,buy furniture vacuum cat hate break corded flo...,positive

## 3. Smart thermostats

In [12]:
from src.processor import SmartThermostats

smt = SmartThermostats(load_preprocd_data=True, load_prep_data=True, load_raw_data=True)

Loading "data\amazon_reviews\thermostats\smart\raw_data\raw_data.pkl" ... Done.
Loading "data\amazon_reviews\thermostats\smart\prep_data\prep_data.pkl" ... Done.
Loading "data\amazon_reviews\thermostats\smart\preprocd_data\preprocd_data.pkl" ... Done.

### 3.1 Raw data

In [13]:
selected_columns = ['ReviewText']

In [14]:
# smt.load_raw_data(verbose=True)
smt.raw_data[selected_columns]

                                              ReviewText
0      Installation was super easy but the unit set t...
1      I really wanted to like this product. Humidity...
2      I like the new Nest thermostat 2020. Elegant a...
3                   Easy to install. Works as advertised
4                                            Easy set up
...                                                  ...
55681  I ordered this item to replace some old non-an...
55682  I have the Honeywell YRLV430A in other rooms i...
55683  i purchased 4 of these themostats for a friend...
55684  I've had this going on a year now. So much bet...
55685  Very cost effective thermostat. It is extremel...

[50835 rows x 1 columns]

### 3.2 Preparatory data

In [15]:
# smt.load_prep_data(verbose=True)
smt.prep_data[selected_columns]

                                              ReviewText
0      Great to be able to control thermostat remotel...
1      It is ok... simple unit but who the hell canno...
2      This product is fine but older technology. I a...
3      Since I have had my new Bosch system installed...
4      Have had this installed for almost 2 months no...
...                                                  ...
50830  The online install wizard made this thermostat...
50831                   Works GREAT with iPhone & ALEXA!
50832  You cannot install this thermostat from readin...
50833  Had to return because of heat pump issues bein...
50834  After purchasing several thermostats prior whe...

[50835 rows x 1 columns]

### 3.3 Preprocessed data

In [16]:
selected_columns += ['review_text', 'sentiment']
preprocd_data = smt.preprocd_data.copy()
preprocd_data['sentiment'] = smt.preprocd_data['sentiment_on_vs_score']
preprocd_data[selected_columns]

,ReviewText,review_text,sentiment
0,Great to be able to control thermostat remotel...,great able control thermostat remotely work fi...,positive
1,It is ok... simple unit but who the hell canno...,simple unit turn fan unit need use phone,negative
2,This product is fine but older technology. I a...,product fine old technology keep alarm com int...,positive
3,Since I have had my new Bosch system installed...,new bosch system instal thermostat cause many ...,positive
4,Have had this installed for almost 2 months no...,instal almost month work great second ready in...,positive
...,...,...,...
50830,The online install wizard made this thermostat...,wizard make thermostat easy install great repl...,positive
50831,Works GREAT with iPhone & ALEXA!,work great iphone alexa,positive
50832,You cannot install this thermostat from readin...,install thermostat read installation manual go...,positive
50833,Had to return because of heat pump issues bein...,return heat pump issue incompatible device ins...,positive
50834,After purchasing several thermostats prior whe...,purchase several thermostat prior wifi well ca...,neutral

---